.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  .main {
    display: flex;
    flex: 1;
    .content {
      width: 100%;
      margin: 0 auto;
    }
  }
}