.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 18px;
  height: 18px;
  opacity: 1;
  transition: 0.3s;
  &:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: #9599A9;
}

.btnClose{
  border:transparent;
  background: transparent;
  &:focus{
    outline: none;
  }
}
